@model IEnumerable<Taller2Enfasis.Persistencia.Cancion>

<div class="well">
    <strong> @ViewBag.Titulo</strong>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.ActionLink("Detalle", "DetalleCancion", "Cancion", new { id = item.Id }, new { @class = "btn btn-success btn-xs" }) |
                    @Html.ActionLink("agregar al carrito", "Delete", new { id = item.Id }, new { @class = "btn btn-success btn-xs" })
                </td>
            </tr>
        }

    </table>
</div>